@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #343a40;
}

/* Estilos para el header */


/* Estilos para el contenido principal */
.container {
    max-width: 1200px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.container {
  max-width: 1200px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.figuras-container {
/* Estilos para el contenedor de todas las figuras */
display: flex;
flex-direction: row; 
align-items: flex-start;
width: 100%;
height: auto;
background-color: #f0f0f0;
padding: 20px;
border-radius: 10px;

}

.bolitas {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 50%; /* Ajusta el ancho según sea necesario */
height: auto;
}

.Bolita {
width: 435.58px;
height: 457.74px;
position: relative;
margin-bottom: 20px; /* Espacio entre las figuras */
}

.Bolita .Ellipse6 {
width: 407.58px;
height: 407.58px;
position: absolute;
top: 300px;
right: 30;
transform: rotate(-117.33deg);
transform-origin: 0 0;
background: #FC9B00;
border-radius: 9999px;
}

.Bolita .Ellipse7 {
width: 349.18px;
height: 349.18px;
position: absolute;
top: 290px;
right: 60px; /* Ajusta la posición horizontal */
transform: rotate(-117.33deg);
transform-origin: 0 0;
background: #FFA81B;
border-radius: 9999px;
}

.content-container {
width: 50%; /* Ajusta el ancho según sea necesario */
padding: 20px;
}

/* Ajustes para diferentes tamaños de pantalla */
@media (max-width: 768px) {
.figuras-container {
  flex-direction: column;
  align-items: center;
}

.bolitas, .content-container {
  width: 100%;
}

.Bolita {
  width: 80%;
  height: auto;
}

.Bolita .Ellipse6, .Bolita .Ellipse7 {
  width: 80%;
  height: auto;
}
}