<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Secciones</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Inicio</a></li>
            <li><a href="#" class="text-dark">Cursos</a></li>
            <li><a href="#" class="text-dark">Studium Foro</a></li>
            <li><a href="#" class="text-dark">Enseña en Studium</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Información</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Quiénes Somos</a></li>
            <li><a href="#" class="text-dark">Ayuda y Asistencia</a></li>
            <li><a href="#" class="text-dark">Condiciones</a></li>
            <li><a href="#" class="text-dark">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
      © 2024 Studium. Todos los derechos reservados.
    </div>
  </footer>